{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
    <h1>ማ/ደ/ሰ/መ/ደ ኣብ ኣዲስ ኣባባ</h1>
    <h3>ዕላማ ናይዚ ፎርም አዚ ካብ ኣገልግሎት ማሕበር ርሒቆም ዘለዉ ኣባላት ማሕበር ናብ ኣገልግሎት ንምምስ ስለ ዝኮነ ምትሕብባርኩም ከይፍለየና ንምሕጸን!</h3>
    <form enctype="multipart/form-data" method="POST" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}

        {% bootstrap_form form exclude="member1_name, member1_phone, member2_name, member2_phone, additional_advice"%}
        <br/>
        <p>ብቀረባ ክረክቦ/ክትረክቦ  ክረኽባ/ክትረኽቦ ዝኽእል/እትኽእል ኣብ ንጡፍ ኣገልግሎት ዘሎ/ላ ኣባል ማሕበር ስም</p>
        <div class="row m-3 was-validated">

            <div class="col-sm-6">
                <h5>ቀዳማይ ኣባል ማሕበር</h5>
                {{form.member1_name.label}}{{form.member1_name}}
                {{form.member1_phone.label}}{{form.member1_phone}}
            <br/>
            </div>
            <div class="col-sm-6">
                <h5>ካላኣይ ኣባል ማሕበር</h5>
                {{form.member2_name.label}}{{form.member2_name}}
                {{form.member2_phone.label}}{{form.member2_phone}}
            </div>

        </div>


        <br/>
        <div class="was-validated">
        {{form.additional_advice.label}}{{form.additional_advice}}
            </div>
        <br/>
        <input type="submit" value="መዝግብ" class="btn btn-success">
    </form>
</div>
{% endblock %}
