{% extends "base.html" %}
{% load bootstrap5 %}
{% load cloudinary %}

{% block content %}
<style>
    .aTag {
        Text-decoration:none;
        color: white;
    }
</style>
<!--<div class="col-md-8">-->

{% for post in my_projects %}
{% if user.is_staff or user == post.author %}

<a class="aTag" href="{% url 'members:detail' pk=post.pk %}">
    <div class="row">
        <div class="col-6 col-md-4">
            {% if post.photo %}
<!--            <img src="{{ post.photo.url }}" class="img-thumbnail" >-->
            {% cloudinary post.photo format="jpg" quality="auto" class="img-thumbnail" width=150 height=200 gravity="faces" crop="fill" %}
            {% else %}
            <img src="" alt="No photo provided" class="img-thumbnail" >
            {% endif %}
        </div>
        <div class="col-6 col-md-4">
            <h5>{{ post.full_name }}</h5>
            {{ post.phone_number }}
        </div>
        <div class="col-6 col-md-4">
            <h6>{{ post.address }}</h6>
            <p>መዝጋቢ ስም: {{ post.author }}</p>
        </div>

    </div>
</a>
<hr/>
{% else %}
<p></p>
{% endif %}
{% endfor %}

<!--    </div>-->
{% endblock %}

