{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<style>
    .aTag {
        Text-decoration:none;
        color: white;
    }
</style>
<!--<div class="col-md-8">-->
{% if user.is_staff %}
{% for post in my_projects %}
<a class="aTag" href="{% url 'members:detail' pk=post.pk %}">
    <div class="row">
        <div class="col-sm-2">
            {% if post.photo %}
            <img src="{{ post.photo.url }}" class="img-thumbnail" >
            {% else %}
            <img src="" alt="No photo provided" class="img-thumbnail" >
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h5>{{ post.full_name }}</h5>
            {{ post.phone_number }}
        </div>
        <div class="col-sm-4">
            <h6>{{ post.address }}</h6>
            <p>መዝጋቢ ስም: {{ post.author }}</p>
        </div>

    </div>
</a>
<hr/>
{% endfor %}
{% else %}
<h5>You have no access.</h5>
{% endif %}


<!--    </div>-->
{% endblock %}

