{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

{% if user.is_staff %}
<div class="row m-3">

    <div class="col-sm-5">
        <h5>ምሉአ ስም ናይ ኣብ ማሕበር ዘይነጥፍ/ዘይትነጥፍ: <u>{{ object.full_name }} </u></h5>
        <h6>ስልኪ ቅጽሩ/ራ: <u>{{ object.phone_number }}</u></h6>
        <h6>ገዛዉቱ/ታ: <u>{{ object.address }}</u></h6>
        <h5>መዝጋቢ ስም: <u>{{ object.author }} </u></h5>
    </div>
    <div class="col-sm-3">
        <p></p>
    </div>
    <div class="col-sm-4">
        {% if object.photo %}
        <img src="{{ object.photo.url }}" class="img-thumbnail" style="width:100%;height:100%;">
        {% else %}
        <img src="" alt="No photo provided" class="img-thumbnail" >
        {% endif %}
    </div>

</div>
<hr/>
<div class="row m-3">

    <div class="col-sm-6">
        {% if object.participation %}
        <h6>ገምጋም ህልው ኣገልግሎት ዘይነጥፍ ዘሎ ኣባል ማሕበር: <u>{{ object.participation }} </u></h6>
        {% elif object.additional_reason %}
        <h6>ገምጋም ህልው ኣገልግሎት ዘይነጥፍ ዘሎ ኣባል ማሕበር : <u>{{ object.additional_reason }} </u></h6>
        {% else %}
        <!--        <p></p>-->
        {% endif %}
    </div>
</div>
<div class="row m-3">

    <div class="col-sm-6">
        <h6>ምሉአ ስም ናይ ቀዳማይ ኣባል ማሕበር: <u>{{ object.member1_name }} </u></h6>

        <h6>ስልኪ ቅጽሩ/ራ ናይ ቀዳማይ ኣባል ማሕበር: <u>{{ object.member1_phone }}</u></h6>

    </div>
    <div class="col-sm-6">
        <h6>ምሉአ ስም ናይ ካላኣይ ኣባል ማሕበር: <u>{{ object.member2_name }} </u></h6>
        <h6>ስልኪ ቅጽሩ/ራ ናይ ካላኣይ ኣባል ማሕበር: <u>{{ object.member2_phone }}</u></h6>
    </div>

</div>
<hr/>
<div class="row m-3">
    <div class="col-sm-6">
        <h6>ኣብ ምምላስ ኣባላት ክተኣታቶ ኣልዎ ትብልዎ ሓሳባት:</h6>
        <p>{{ object.additional_advice }}</p>
    </div>
</div>
</div>

{% else %}
<h5>you have no access.</h5>
{% endif %}
{% endblock %}
