{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

{% if user.is_staff or user == object.user_name%}
<div class="row m-3">

    <div class="col-sm-5">
        <h5>ምሉአ ስም: <u>{{ object.full_name }} </u></h5>
        <h6>ቁ. ስልኪ: <u>{{ object.phone_number }}</u></h6>
        <h6>ህልው ገዛወቲ: <u>{{ object.address }}</u></h6>
    </div>
    <div class="col-sm-3">
        <p></p>
    </div>
    <div class="col-sm-4">
        {% if object.photo %}
        <img src="{{ object.photo.url }}" class="img-thumbnail" style="width:100%;height:100%;">
        {% else %}
        <img src="" alt="No photo provided" class="img-thumbnail" >
        {% endif %}
    </div>

</div>
<hr/>
<div class="row m-3">

    <div class="col-sm-6">
        <h6>ህልው ክፍሊ: <u>{{ object.current_member }} </u></h6>
        <h6>ቅድሚ ሕጂ ዝወሰድካዮ/ክዮ መንፈሳዊ ትምህርቲ(ኮርስ): <u>{{ object.church_course }}</u></h6>
        <h6>ዓለማዊ ዝወዳእካዮ/ክዮ ዓወደ ትምህርቲ: <u>{{ object.academic_department }} </u></h6>
    </div>
    <div class="col-sm-6">
        <h6>ምያ ወይ ስራሕ: <u>{{ object.additional_course }} </u></h6>
        {% if object.academic_year %}
        <h6>ደረጃ ትምህርቲ: <u>{{ object.academic_year }}</u></h6>
        {% else %}
        <h6>ደረጃ ትምህርቲ: <u>{{ object.other_academic_year }}</u></h6>
        {% endif %}
    </div>

</div>

<hr/>
<div class="row m-3">

    <div class="col-sm-6">
        <h6>ናይ ቀረባ ዋሕስ ምሉእ ስም: <u>{{ object.guardian_name }} </u></h6>

    </div>
    <div class="col-sm-6">
        <h6>ቁ. ስልኪ ናይ ዋሕስካ/ኪ: <u>{{ object.guardian_number }}</u></h6>
    </div>

</div>
{% else %}
<h5>you have no access.</h5>
{% endif %}

<!--    </div>-->
{% endblock %}

